.order-by {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:100px;
    width: 300px;
    @include tablet {
      padding: 1.5rem 2rem;
    }
}
  
.order-by p {
    margin-right: 1.5rem;
    font-size: 1.1rem;
}

.dropdown {
    position: absolute;
    z-index: 9;
    left : 6rem;
    @include tablet {
        left: 7rem;
    }
}

.dropdown button {
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.dropdown button:active {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown button:hover, .dropdown button:focus {
    color: white;
    background: $primary;
}

.dropdown ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown li {
    color: white;
    background: $primary;
    border-top: white 1px solid;
    width: 170px;
}

.dropdown li a,
.dropdown li a:link,
.dropdown li a:visited,
.dropdown li a:active,
.dropdown li a:focus {
    display: block;
    color: white;
    padding: 1.2rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

#dropdown-list-title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}