.lightbox-modal {
    background-color: #fff;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.lightbox-body {
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 20%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .close-lightbox {
        position: absolute;
        top: 0;
        right: -15%;
        cursor: pointer;
        @include tablet {
            right:-40%;
            top:-10%;
        }
    }

    .close-btn {
        width: 40px;
       
    }

    .previous-media {
        position: absolute;
        top: 50%;
        left: -15%;
        cursor: pointer;
        @include tablet {
            left: -40%;
        }
        @include mobile {
            top: 90%;
        }
    }

    .previous-btn {
        width: 40px;
    }

    .next-media {
        position: absolute;
        top: 50%;
        right: -15%;
        cursor: pointer;
        @include tablet {
            right: -40%;
        }
        @include mobile {
            top: 90%;
        }
    }

    .next-btn {
        width: 40px;
    }

    .lightbox__media {
        border-radius: 5px;  
        height: 50vh;
        object-fit: cover;
        @include tablet {
            height: 40vh;
        }
    }

    .lightbox__media__name {
        position: relative;
        color: $primary;
        margin-top: 20px;
        text-align: left;
    }
}