.lightbox-modal {
    background-color: #fff;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.lightbox-body {
    background-color: #fff;
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 7%;
    transform: translate(-50%, 0);
    width: 60%;

    .close-btn {
        width: 40px;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 20%;
    }
    .previous-btn {
        width: 40px;
        position: absolute;
        cursor: pointer;
        top: 40%;
        left: 20%;
    }
    .next-btn {
        width: 40px;
        position: absolute;
        cursor: pointer;
        top: 40%;
        right: 20%;
    }

    .lightbox__media {
        border-radius:5px;
    }

    .lightbox__media__name {
        position: relative;
        text-align: center;
        color: $primary;
        margin-top: 20px;
    }
}